<h2 id="text1">Enter the book details:</h2>

    <!-- <input type="text" #sno id="snoo" placeholder="Serial Number" class="inputValues">  -->
    <input type="text" #name id="name" placeholder="Book name" class="inputValues">  
    <input type="text" #author id="author" placeholder="Author name" class="inputValues"> 
    <input type="date" #publish id="publish" placeholder="Date" class="inputValues"> <br>
    <input type="button" value="Submit" (click)='manageData(name,author,publish)' class="buttonSubmit">


<div id="msg"></div>
<h2 id="text1">Book details:</h2>
<table border="1" id="tableDesign">
    
    <div>
        <tbody id="root">
            <tr *ngFor="let book of books;let i = index">
                <td>{{i+1}}</td>
                <td>{{book.bookname}}</td>
                <td>{{book.authorname}}</td>
                <td>{{book.publishdate}}</td>
                <td> <a href="javascript:void(0)" (click)="editData(i,name,author,publish)">Edit</a>  </td>
                <td> <a href="javascript:void(0)" (click)="deleteData(i)">Delete</a>  </td>
            </tr>
        </tbody> 
    </div>
    
</table>

<div id="validateAuthor"></div>
<div id="validateDate"></div>